<!DOCTYPE html>
<html>
<head>
  <title>Suppliers</title>
  <link rel="stylesheet" href="/style.css">
</head>
<body>
  <h1>Suppliers</h1>
  <%- include('partials/nav', { page: 'crm', user: user }) %>
  <table>
    <tr><th>Name</th></tr>
    <% organisations.forEach(o => { %>
      <tr><td><%= o.name %></td></tr>
    <% }) %>
  </table>
  <script src="/table-tools.js"></script>
</body>
</html>
